---
import type { SiteConfig } from "@types";

type Props = Pick<SiteConfig, "author" | "socialLinks">;

const { author, socialLinks } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="text-secondary w-full text-center pb-8 pt-5 px-5 border-t border-border"
>
  <ul class="flex flex-wrap gap-x-5 justify-center mb-5 text-xs">
    {
      socialLinks.map(({ text, href }) => (
        <li>
          <a
            href={href}
            target="_blank"
            class="hover:text-primary inline-flex items-center gap-1 py-3 px-4 transition-colors"
          >
            {text}
            <svg class="w-3 h-3" fill="currentColor" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
              <path d="M204,64V168a12,12,0,0,1-24,0V93L72.49,200.49a12,12,0,0,1-17-17L163,76H88a12,12,0,0,1,0-24H192A12,12,0,0,1,204,64Z"></path>
            </svg>
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-xs">
    {author} © {currentYear}. <span class="text-secondary"
      >Designed & Developed by</span
    > Moisés Machuca
  </p>
</footer>
